/*font-family: 'Oswald', sans-serif;
font-family: 'PT Mono', monospace;
font-family: 'Open Sans', sans-serif;*/


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

/*landing page*/
#jumbo-land {
	height: 100vh;
	background-image: url("../images/banner.jpg");
	background-size: cover;
	background-position: bottom;
	background-color: #333; /*off-black*/
	padding-top: 5%;
	border-radius: 0; /*to remove rounded corners of jumbotron*/
}


.container-jumbo {
	background-color: rgba(255,255,255,.7);
	width: 60%;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 50px;
	border: 5px solid #333;
}

@media(max-width: 700px) {
	.container-jumbo {
		width: 80%;
		height: 80%;
	}
}

.jumbotron h1 {
	font-family: 'Oswald', sans-serif;
	/*font-family: 'PT Mono', monospace;*/
	/*color: rgba(254, 11, 11, .9); /*off white*/*/
	color: rgba(0,0,0,1);
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 0;
	margin-top: 0;
}

.jumbotron h1:hover {

}

.jumbotron p {
	color: black;
}

@media(max-width: 700px) {
.display-2 {
	font-size: 3em;
}
}

.jumbotron hr {
	background-color: #fff; /*white*/
}

.logo {
	width: 60%;
	height: 60%;
	display: block;
	margin: 0 auto;
}

@media(max-width: 700px) {
	.logo {
		width: 70%;
		height: 40%;
	}
}

.btn {
	background-color: rgba(254, 11, 11, 1);
	border-radius: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.btn:hover {
	background-color: #333;
	border: 2px solid #fff;
}

.btn a {
	text-decoration: none;
	color: black;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

.btn a:hover {
	color: #fff;
}
/*end landing page*/

/*home page*/

.top-nav {
	background-color: #000000;
	margin: 0;
	height: 40px;
}

.top-nav li {
	list-style: none;
	text-decoration: none;
	color: #fff;
}

.top-nav a {
	color: #fff;
	text-decoration: none;
	list-style: none;
}

.top-nav a:hover {
	color: #00C6FF;
}

.top-nav i {
	color: #fff;
	padding: 10px;
	padding-right: 20px; 
}

.top-nav i:hover {
	color: #00C6FF;
}	

#home-landing {
	background-color: #333;
	color: #fff;
	/*padding: 20%;*/
	background-image: url("../images/showroom-banner-1.jpg");
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	height: 80vh;
	animation-delay: 1s;
}

@media(max-width: 700px) {
	#home-landing {
		background-size: contain;
	}
	
}


#home-banner {
	/*border: 2px solid white;*/
	text-transform: uppercase;
	color: #fff;
	background-color: rgba(0,0,0, .95);
	padding: 20px;
	width: 800px;
	margin: 0 auto;
	position: relative;
	top: 5%;
	border-radius: 10px;
	height: 480px;
}

#home-banner-1 {
	list-style: none;
	display: flex;
	padding: 20px;
	padding-top: 10px;
}

.home-banner-text {
	margin-bottom: 20px;
	border-bottom: 2px solid rgba(254, 11, 11, 1);
	/*border-bottom: 2px solid #333;*/
	padding: 20px;
}

@media(max-width: 700px) {
	#home-banner {
	height: 85%;
	width: 50%
	}
}

@media(max-width: 700px) {
	.home-banner-text {
		font-size: 50px;
	}
}

.red {
	color: rgba(254, 11, 11, 1);
}

.brand-logo {
	list-style: none;
	height: 60px;
	width: 120px;
	margin: 10px;
}

.browse-button-bounce {
	animation-delay: 1s;
}

.browse-button {
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

.browse-button:hover {
	color: rgba(254, 11, 11, 1);
	text-decoration: none;
}

.fas {
	display: block;
	margin: 0 auto;
}

@media(max-width: 700px) {
#home-banner {
	width: 90%;
}
}

@media(max-width: 700px) {
#home-banner-1 {
	display: none;
}
}

@media(max-width: 700px) {
.browse-button {
	font-size: 20px;
}
}

.navbar {
	background-color: #000000;
}

#navbar-list a:hover {
   	color: #fe0b0b;
   	/*border-bottom: 2px solid #fe0b0b;*/
   	font-weight: 500;
   	border-color: #fe0b0b;
}

.logo-header {
	height: 80px;
	width: 300px;
	animation-delay: 1s;
}

@media(max-width: 700px) {
.logo-header {
	height: 50px;
	width: 150px;
}
}
	
}

#carousel-home {
	height: 100vh;
}

@media(max-width: 700px) {
#carousel-home {
	display: none;
}
}

#carousel-home img {
	height: 100vh;
	max-height: 100vh;
	width: 100%;
}

#featured-motorcycles {
	padding-top: 10px;
	padding-bottom: 20px;
}

.featured-motorcycles-title {
	padding: 10px;
	font-weight: 600;
	/*color: #fe0b0b;*/
	text-transform: uppercase;
	letter-spacing: 0.2em;
	background-color: #eaeaea;
	color: #000000;
	font-weight: 300;
	/*border-top: 2px solid #fe0b0b;*/
	border-bottom: 3px solid #fe0b0b;
}

.carousel-control-prev-icon {
	position: absolute;
	left: 5%;
	background-color: #000000;
	border-radius: 10%;
}

.carousel-control-next-icon {
	position: absolute;
	right: 5%;
	background-color: #000000;
	border-radius: 10%;
}

.cards {
	margin: 0;
	padding: 0;
}

.home-cards {
	border: none;
	padding: 30px;
	margin: 0;
	border-radius: 0;
}

#card-grid-1 {
	background-color: #000000;
}

#card-grid-2 {
	background-color: #eaeaea;
}

#card-grid-3 {
	background-color: #eaeaea;
}

#card-grid-4 {
	background-color: #000000;
}

.card-grid-p-1 {
	color: #ffffff;
	border-left: 2px solid #ffffff;
	padding: 20px;
	font-weight: 300;
	font-size: 20px;
}

.card-grid-p-2 {
	color: #000000;
	border-left: 2px solid #000000;
	padding: 20px;
	font-weight: 300;
	font-size: 20px;
}
.home-card-title {
	color: rgba(254, 11, 11, 1);
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 3em;
	/*border-right: 2px solid #eaeaea;*/
	/*text-shadow: 2px 2px 5px black;*/
}

.card-body {
	display: flex;
}


.card-image-1 {
	width: 400px;
	height: 300px;
	margin: 0 auto;
	box-shadow: 1px 1px 10px #eaeaea;
}

.card-image-2 {
	width: 400px;
	height: 300px;
	margin: 0 auto;
	box-shadow: 2px 2px 10px #000000;
}

/*end home page*/

/*about page*/
#jumbotron-about {
	background-color: ;
	height: 85vh;
	border-radius: 0;
	background-image: url("../images/team.jpg");
	background-size: cover;
	background-position: bottom;
}

.about-banner-text {
	color: #ffffff;
	position: relative;
	top: 40%;
	letter-spacing: .5em;
}

#landing-about {
	/*color: */
	font-size: 5em;
	letter-spacing: 5px;
	/*font-family: */
}

#mission {
	height: 100%;
	background-color: #f2f2f2;
	color: #141414;
	border-left: 20px solid #fe0b0b;
}


#vision {
	height: 100%;
	background-color: #141414;
	color: #f2f2f2;
	border-right: 20px solid #fe0b0b;
}

#vision a {
	text-decoration: none;
	color: #fe0b0b;
}

.about-tags {
	font-weight: bold;
	/*font-family: */
}

.customer-reviews {
	display: flex;
}

.customer-review-card {
	border: none;
	padding: 20px;

}

.customer-review-card h3 {
	/*text-decoration: underline;*/
	/*text-underline-position: under;*/
}

.customer-review-card p {
	font-weight: 300;
	/*font-style: italic;*/
}

.customer-review-img {
	height: 80%;
	width: 80%;
	border-radius: 20px;
	box-shadow: 2px 2px 10px #000000;
}

.customer-feedback {
	font-weight: 200;
	line-height: 1.6;
	color: #7f7f7f;
}

.customer-feedback a {
	text-decoration: none;
	color: #fe0b0b;
}

/*end about page*/

/*gallery page*/

#head-gall {
	margin-top: 10%;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	background-color: #eaeaea;
	padding: 20px;
	color: #141414;
	border: none;
	margin-bottom: 0;
	font-weight: 600;
}

@media(max-width: 700px) {
	#head-gall {
		margin-top: 20%;
	}
}

.list-sidebar {
	background-color: #fe0b0b;
}

.list-group {
	margin-top: 150px;
	position: relative;
	left: 2%;
}

.location-title {
	background-color: #000000;
	color: #fff;
	margin-bottom: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/*.location-card {
	margin: 5px;
	padding: 20px;
	border-radius: 10px;
	background-color: #eaeaea;
}*/

#gallery-items .card {
	height: 400px;
}

#gallery-items .card img {
	height: 250px;
	margin-bottom: 50px;
}

.location-card .card-title {
	background-color: #000000;
	padding: 10px;
	color: #eaeaea;
	margin: 0;

}

/*end gallery page*/

/*contact page*/

.contact-banner {
	width: 100%;
	height: 500px;
}

@media(max-width: 700px) {
	.contact-banner-mobile {
		display: none;
	}
}

#head-contact {
	background-color: #eaeaea;
	text-transform: uppercase;
	letter-spacing: 0.5em;
}

.contact-form {
	margin-top: 30px;
	padding-left: 30px;
	padding-right: 20px;
}

.form-group i {
	color: #fe0b0b;
}

.contact-form .btn {
	color: #fff;
	background-color: #fe0b0b;

}

.location-map {
	margin-top: 30px;
	margin-bottom: 20px;
}
/*end contact page*/

.active {
	border-bottom: 2px solid #fff;
}

.footer {
	color: #fff;
	background-color: #000000;
	border-top: 3px solid #fe0b0b;
}